body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p {
    font-weight: bold;
    font-size: 1.4rem;
    margin: 20px;
}

h1 {
    margin: 20px 2px 40px 20px;
}

.title {
    font-size: 8rem;
    font-weight: bold;
    color: #66FCF1;
    font-family: "Grechen Fuemen", cursive;
    font-weight: 400;
    font-style: normal;
}

.moves {
    border: none;
    height: 50px;
    padding: 10px;
}

.move-btn {
    border-radius: 50%;
    background-color: black;
    border: 3px solid white;
    margin: 10px;
    padding: 10px;
    height: 100px;
    width: 100px;
    cursor: pointer;
    box-shadow: 0 0 10px 2px #66FCF1;
    transition: transform 0.3s, box-shadow 0.3s;
}

.move-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px 4px #66FCF1;
}

.js-result {
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
}

.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.glass {
    background: linear-gradient(135deg, rgba(255,255,255,0.05), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 0;
    border: 0px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    margin: 10px 60px;
    padding: 20px;
}

.js-score {
    margin-top: 60px;
}

.resetbtn, .auto-play {
    border: none;
    font-size: 1em;
    padding: 15px;
    margin: 20px;
    font-weight: bold;
    cursor: pointer;
    width: 10%;
    background-color: white;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 0 10px 2px #66FCF1;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
}

.resetbtn:hover, .auto-play:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px 4px #66FCF1;
    background-color: #66FCF1;
    color: black;
}

.sub {
    color: white;
    font-size: 1.3rem;
    padding: 10px;
    background-color: transparent;
    border: none;
    font-weight: bold;
    opacity: 0.9;
}

.sub:hover {
    opacity: 1;
    transform: scale(1.05);
    background-color: #E64833;
}

a {
    text-decoration: none;
    color: white;
}

.responsive-image {
    max-width: 100%;
    height: auto;
}

/* Media Queries */
@media (max-width: 768px) {
    .title {
        font-size: 4rem;
    }

    .move-btn {
        height: 80px;
        width: 80px;
        box-shadow: 0 0 10px 2px #66FCF1;
    }

    .move-btn:hover {
        transform: scale(1.1);
        box-shadow: 0 0 20px 4px #66FCF1;
    }

    .glass {
        margin: 10px 30px;
        padding: 15px;
    }

    .resetbtn, .auto-play {
        width: 30%;
        font-size: 0.8em;
        box-shadow: 0 0 10px 2px #66FCF1;
    }

    .resetbtn:hover, .auto-play:hover {
        transform: scale(1.1);
        box-shadow: 0 0 20px 4px #66FCF1;
        background-color: #66FCF1;
        color: black;
    }

    .responsive-image {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 3rem;
    }

    .move-btn {
        height: 60px;
        width: 60px;
        box-shadow: 0 0 10px 2px #66FCF1;
    }

    .move-btn:hover {
        transform: scale(1.1);
        box-shadow: 0 0 20px 4px #66FCF1;
    }

    .glass {
        margin: 10px 20px;
        padding: 10px;
    }

    .resetbtn, .auto-play {
        width: 50%;
        font-size: 0.7em;
        box-shadow: 0 0 10px 2px #66FCF1;
    }

    .resetbtn:hover, .auto-play:hover {
        transform: scale(1.1);
        box-shadow: 0 0 20px 4px #66FCF1;
        background-color: #66FCF1;
        color: black;
    }

    p {
        font-size: 1.2rem;
    }

    .js-result {
        font-size: 20px;
    }

    .responsive-image {
        max-width: 100%;
        height: auto;
    }
}
